@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

:root{
    --azerty: rgb(161, 171, 18);

}


/* reset css */
/* Element + attr + value */
html{
    font-size: 62.5%; /* 16px * 62.5 = 10.00 */
}

/* prop générale pour mettre en forme la police de base  */
body{
    font: 1.6rem sans-serif;
    letter-spacing: .1rem;
    line-height: 1.6;
    margin: 0;
    background-color: var(--azerty);
}

/* on supprime toutes les marges par défaut */
h1, h2, h3, h4, h5, h6, p, ul, ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    color: var(--textcolor);
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
img{
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}

/* theme */
header>h1 {
    background-color: #2d3436;
    color: var(--azerty);
    font-weight: normal;
    line-height: 6.5rem;
    /*65px */
    text-align: center;
    font-size: 4.5rem;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    max-width: 90rem;
    margin: 5rem auto;
    border: solid .1rem #2d3436;
    padding: 1rem;
    background-color: #fff;
}

section img {
    width: 100%;
}

section img{
    text-align: center;
}

section h2{
    text-transform: var(--subtitle);
    font-weight: 400; 
}

.btns-default{
    display: inline-block;
    width: max-content;
    background-color: #2d3436;
    line-height: 2.5rem;
    padding: .4rem .1rem;
    border-radius: .4rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: .3rem 1rem;
}
.btns-option-success{ /* couleur */
    background-color: #27ae60;
    color: #fff;

}
.btns-option-warning{
    background-color: #8e44ad;
    color: var(--bgsection);
}

section .btns-default{

}
footer *{
    text-align: center;
}